# Data Wrangling

In [ ]:
# import essential libraries
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
# load data set
kashti=sns.load_dataset("titanic")
ks1=kashti
ks2=kashti

In [3]:
kashti.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
# simple math operation
(kashti["age"]+12).head()

0    34.0
1    50.0
2    38.0
3    47.0
4    47.0
Name: age, dtype: float64

# Dealing with missing values
1.How
- Average value of entire variable or similar data point
- frequency of mode replacement
- Replace based on other functions (Data sampler knows that)
- ML algorithm can also be changed
- Leave it like that
  
  2.Why
  - its better beacause no data is lost
  - less accurate

In [ ]:
# check null values
kashti.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
# replace age with average
kashti["age"]=(kashti["age"]).replace().mean()
kashti["age"]

C:\Users\M.Computer\AppData\Local\Temp\ipykernel_1368\4184464733.py:2: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  kashti["age"]=(kashti["age"]).replace().mean()

0      29.58156
1      29.58156
2      29.58156
3      29.58156
4      29.58156
         ...
886    29.58156
887    29.58156
888    29.58156
889    29.58156
890    29.58156
Name: age, Length: 891, dtype: float64

In [7]:
kashti.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [8]:
# replace deck with 
kashti["deck"]=(kashti["deck"]).astype(str).replace("nan","unknown")
kashti["deck"]

0      unknown
1            C
2      unknown
3            C
4      unknown
        ...
886    unknown
887          B
888    unknown
889          C
890    unknown
Name: deck, Length: 891, dtype: object

In [ ]:
# drop nan (not a number) rows
kashti=kashti.dropna()
kashti.shape

(889, 15)

In [10]:
kashti.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [11]:
kashti=sns.load_dataset("titanic")

In [12]:
kashti.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
# drop specific column nan rows
kashti.dropna(subset=["age"],axis=0,inplace=True)

In [ ]:
# check how many columns and rows
kashti.shape

(714, 15)

In [ ]:
# drop specific column nan rows
kashti.dropna(subset=["deck"],axis=0,inplace=True)
kashti.shape

(184, 15)

In [ ]:
# drop nan values of whole data set
# inplace means update in true values
kashti.dropna(inplace=True)

In [17]:
kashti.shape

(182, 15)

In [18]:
ks1.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [19]:
ks1=sns.load_dataset("titanic")

In [20]:
ks1.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

# replacing missing values

In [21]:
# replacing  by mean
ks1["age"]=(ks1["age"]).replace().mean()

C:\Users\M.Computer\AppData\Local\Temp\ipykernel_1368\3505487745.py:2: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  ks1["age"]=(ks1["age"]).replace().mean()

In [22]:
ks1.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
# change data type of specific column values
ks1["deck"]=(ks1["deck"]).astype(str).replace("nan","unknown")
ks1.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [24]:
ks1.dropna(inplace=True)
ks1.shape

(889, 15)

In [25]:
# how to find data types
ks1.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck             object
embark_town      object
alive            object
alone              bool
dtype: object

In [26]:
# convert data types
ks1["survived"]=(ks1["survived"]).astype("string")
ks1.dtypes

survived       string[python]
pclass                  int64
sex                    object
age                   float64
sibsp                   int64
parch                   int64
fare                  float64
embarked               object
class                category
who                    object
adult_male               bool
deck                   object
embark_town            object
alive                  object
alone                    bool
dtype: object

In [ ]:
# change data type of specific column
ks1["survived"]=(ks1["survived"]).astype("Int64")
ks1.dtypes

survived          Int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck             object
embark_town      object
alive            object
alone              bool
dtype: object

In [28]:
# convert age in days use simple operators
ks1["age"]=(ks1["age"]*365)
ks1["age"]

0      10797.269416
1      10797.269416
2      10797.269416
3      10797.269416
4      10797.269416
           ...
886    10797.269416
887    10797.269416
888    10797.269416
889    10797.269416
890    10797.269416
Name: age, Length: 889, dtype: float64

In [29]:
# rename column 
ks1.rename(columns={"age":"age in days"},inplace=True)
ks1["age in days"]

0      10797.269416
1      10797.269416
2      10797.269416
3      10797.269416
4      10797.269416
           ...
886    10797.269416
887    10797.269416
888    10797.269416
889    10797.269416
890    10797.269416
Name: age in days, Length: 889, dtype: float64

In [30]:
# use typecasting to remove float in age
ks1["age in days"]=ks1["age in days"].astype(int)
ks1["age in days"]

0      10797
1      10797
2      10797
3      10797
4      10797
       ...
886    10797
887    10797
888    10797
889    10797
890    10797
Name: age in days, Length: 889, dtype: int64

# Data Normalization
- Uniform the tes
- Making sure they have same impact
- Aik machli samandar main ayr ak jar main
- Also for computational reasons

In [ ]:
# normalize specific columns
ks4=kashti[["age","fare"]]

In [62]:
ks4.head()

     age     fare
1   38.0  71.2833
3   35.0  53.1000
6   54.0  51.8625
10   4.0  16.7000
11  58.0  26.5500

- The above data really in wide range and we need to normalize because this is  hard to compare
- Normalization change the values to range of 0-to-1 (now both have similar influence on our model )
# Methods of Normalization
1. Simple feature scaling
    - x(new)=x(old)/x(max)
2. Min Max Method
3. Z-score (standard score)-3-to-3
4. Log transformation

In [64]:
# simple feature scaling
ks4["age"]=(ks4["age"])/(ks4["age"].max())
ks4["age"]

C:\Users\M.Computer\AppData\Local\Temp\ipykernel_1368\1130208548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks4["age"]=(ks4["age"])/(ks4["age"].max())

1      0.4750
3      0.4375
6      0.6750
10     0.0500
11     0.7250
        ...
871    0.5875
872    0.4125
879    0.7000
887    0.2375
889    0.3250
Name: age, Length: 182, dtype: float64

In [65]:
# min max method
ks4["fare"]=(ks4["fare"]-ks4["fare"].min())/(ks4["fare"].max()-ks4["fare"].min())
ks4["fare"]

C:\Users\M.Computer\AppData\Local\Temp\ipykernel_1368\1824186954.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks4["fare"]=(ks4["fare"]-ks4["fare"].min())/(ks4["fare"].max()-ks4["fare"].min())

1      0.139136
3      0.103644
6      0.101229
10     0.032596
11     0.051822
         ...
871    0.102579
872    0.009759
879    0.162314
887    0.058556
889    0.058556
Name: fare, Length: 182, dtype: float64

In [ ]:
# get specific column data
ks4["age"]

1      0.4750
3      0.4375
6      0.6750
10     0.0500
11     0.7250
        ...
871    0.5875
872    0.4125
879    0.7000
887    0.2375
889    0.3250
Name: age, Length: 182, dtype: float64

In [67]:
# Z-score method
ks4["fare"]=(ks4["fare"]-ks4["fare"].mean())/(ks4["fare"].std())
ks4.head()

C:\Users\M.Computer\AppData\Local\Temp\ipykernel_1368\231141249.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks4["fare"]=(ks4["fare"]-ks4["fare"].mean())/(ks4["fare"].std())

       age      fare
1   0.4750 -0.099835
3   0.4375 -0.337554
6   0.6750 -0.353732
10  0.0500 -0.813428
11  0.7250 -0.684654

In [68]:
# log transformation method
ks4["age"]=np.log(ks4["age"])
ks4.head()

C:\Users\M.Computer\AppData\Local\Temp\ipykernel_1368\3849765269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks4["age"]=np.log(ks4["age"])

         age      fare
1  -0.744440 -0.099835
3  -0.826679 -0.337554
6  -0.393043 -0.353732
10 -2.995732 -0.813428
11 -0.321584 -0.684654

# Binning
- Grouping of values into smaller number of values
- Convert numeric into categories (jawan,bachay,borhay) or 1-16 and 17-30 etc
- To have better understading of groups
    - Low vs mid vs high price

In [71]:
ks=sns.load_dataset("titanic")
ks.dropna(inplace=True)
ks.shape

(182, 15)

In [72]:
ks.shape

(182, 15)

In [79]:
# binning of age into different groups
bins=[0,18,40,ks["age"].max()]
age_groups=["child","young","old"]
ks["age_group"]=pd.cut(ks["age"],bins=bins,labels=age_groups,include_lowest=True)

In [ ]:
# retrive binned data
ks["age_group"]

1      young
3      young
6        old
10     child
11       old
       ...
871      old
872    young
879      old
887    young
889    young
Name: age_group, Length: 182, dtype: category
Categories (3, object): ['child' < 'young' < 'old']

# convert categories into dummies values
- easy to use for computation
- Male Female (True,False)

In [82]:
# how to get dummies
dummies=pd.get_dummies(ks["sex"],prefix="sex",drop_first=True)
ks=pd.concat([ks,dummies],axis=1)

In [ ]:
# check dummies
dummies

     sex_male
1       False
3       False
6        True
10      False
11      False
..        ...
871     False
872      True
879     False
887     False
889      True

[182 rows x 1 columns]

In [ ]:
# another simple method for dummies
pd.get_dummies(ks["sex"])

     female   male
1      True  False
3      True  False
6     False   True
10     True  False
11     True  False
..      ...    ...
871    True  False
872   False   True
879    True  False
887    True  False
889   False   True

[182 rows x 2 columns]

In [ ]:
# update dummise in original data set
ks=pd.concat([ks,pd.get_dummies(ks["sex"],prefix="sex")],axis=1)
ks.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,...,deck,embark_town,alive,alone,age_group,sex_male,sex_female,sex_male,sex_female,sex_male
1,1,1,female,38.0,1,0,71.2833,C,First,woman,...,C,Cherbourg,yes,False,young,False,True,False,True,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,...,C,Southampton,yes,False,young,False,True,False,True,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,...,E,Southampton,no,True,old,True,False,True,False,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,...,G,Southampton,yes,False,child,False,True,False,True,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,...,C,Southampton,yes,True,old,False,True,False,True,False